<nav class="navbar bg-body-tertiary" data-bs-theme="dark" style="background: rgb(77, 75, 75);">
    <div class="container">
        <span class="navbar-brand nb-0 h1" style="color: white;">Game Store</span>
    </div>
</nav>